@model IEnumerable<UCP1_PAW_022_C.Models.Pembeli>

@{
    ViewData["Title"] = "Index";
}

<h1>BELANJAKU</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Nama Pembeli")
            </th>
            <th>
                @Html.DisplayName("Id Transaksi")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NamaPembeli)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdTransaksi)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdPembeli"><i class="fa fa-marker fa-lg"></i></a> |
                <a asp-action="Details" asp-route-id="@item.IdPembeli"><i class="fas fa-list"></i></a> |
                <a asp-action="Delete" asp-route-id="@item.IdPembeli"><i class="fa fa-trash-alt falg"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
